<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".py" mimeType="text/plain" />
            <mimeMap fileExtension=".rb" mimeType="text/plain" />
            <mimeMap fileExtension=".slvx" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration> 